<template>
    <div>
        <h1 v-if="!status">
            Cart is empty
        </h1>
        
        <div v-if="status">
            <button @click="clearCart()" class="btn">Clear cart</button>
            <table>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Delete</th>
                </tr>
                <tr v-for="item in products" v-bind:key="item.id">
                    <td>
                        <div class="product-cart">
                            <div class="product-image-cart">
                                <img v-bind:src="item.src">
                            </div>
                            <div>
                                <h4 class="product-title">
                                    <router-link v-bind:to="'/product/' + item.id">
                                        {{ item.item }}
                                    </router-link>
                                </h4>
                                <label>{{item.price}}</label>
                                
                            </div>
                        </div>
                        
                    </td>
                    <td >
                        {{item.quantity}} <button @click="plus(item.id)">+</button> <button :disabled="item.quantity==1" @click="minus(item.id)">-</button>
                    </td>
                    <td>
                       {{item.price}} x {{item.quantity}} = {{countTotal(item.price, item.quantity) | round}}
                    </td>
                    <td>
                        <button class="btn" @click="deleteFromCart(item.id)">Delte from cart</button>
                    </td>
                </tr>
            </table>
            Total: {{total | round}}
            <button @click="checkout" class="btn">Checkout</button>
        </div>
        
    </div>
</template>

<script>

    export default {
        computed: {
            products: function(){
                return this.$store.getters.getProducts;
            },
            status: function(){
                if (this.products.length>0) {
                    return true;
                }
                else{
                    return false;
                }
            },
            total: function(){
                let temp=0;
                this.products.forEach(element => {
                    temp=temp+element.price*element.quantity
                });
                return temp;
            },
        },
        methods: {
            clearCart() {
                this.$store.commit('clear');
            },
            deleteFromCart(id){
                this.$store.commit('deleteProduct',id);
            },
            plus(id){
                this.$store.commit('plus',id);
            },
            minus(id){
                this.$store.commit('minus',id);
            },
            checkout(){
                alert("Checkout");
            },
            countTotal(price, quantity){
                return price*quantity
            }
        },
        filters : {
        round : function(value) {
            return value.toFixed(2);
        }
    },
    }
</script>

<style scoped>
tr, th, td, table {
    border: 1px solid #E9E9E9;
    border-radius: 2px;
    border-collapse: collapse;
}
.product-cart {
    padding: 1rem;
    
    overflow: auto;
    margin: 1rem 1rem 1rem 0;
    display: flex;
    flex-flow: row nowrap;
}
.product-image-cart {
    max-height: 150px;
    width: 200px;
    overflow: hidden;
    border: 1px solid #E9E9E9;
    border-radius: 2px;
}
.product-image-cart > img {
    width: 100%;
    display: block;
}
</style>
