<template>
    <div>
        <router-link to='/cart' tag="button" class="btn">
            Cart
        </router-link>
        <br>
        <div v-if="product" class="product">
            
            <div class="product-image">
                <img v-bind:src="product.src">
            </div>
            <div>
                <h4 class="product-title">
                    {{ product.item }}
                </h4>
                <label>{{product.price}}</label>

                <button @click="addToCart()" class="btn">Add to cart</button>  
            </div>
        </div>
        <div v-else>
            Product not found
        </div>
    </div>
</template>
<script>
    import Vue from 'vue'

    export default {
        data: function() {
            return {
                product: null,
                url: 'http://localhost:3000/products',
                products: []
            };
        },
        mounted: function() {
            Vue.axios.get(this.url).then((response) =>{
                this.products=response.data;
            }).then(()=>{
                this.product = this.products.find((item) => {
                    return (item.id === Number(this.$route.params.id));
                })
            })
        },
        methods: {
            addToCart(){
                this.$store.commit('addProduct', this.product);
                alert(`${this.product.item} successfully added to cart`);
            }
        }
    }
</script>
