<template>
    <div class="products">
        <router-link to='/cart' tag="button" class="btn">
            Cart
        </router-link>
        <br>
        <br>
        <form class="searchbar">
            <input placeholder="Пошук" v-model="search">
            <input type="submit"  class="btn">
        </form>
        <div class="product" v-for="(item) in filteredItems" v-bind:key="item.id">
            <div class="product-image">
                <img v-bind:src="item.src">
            </div>
            <div>
                <h4 class="product-title">
                    <router-link v-bind:to="'/product/' + item.id">
                        {{ item.item }}
                    </router-link>
                </h4>
                <label>{{item.price}}</label>
                <button class="btn" @click="addToCart(item)">Add to cart</button>  
            </div>
        </div>
    </div>
</template>
<script>
    import Vue from 'vue'

    export default {
        data: function () {
            return {
                items: [],
                search: '',
                searchResult: [],
                url: 'http://localhost:3000/products'
            };
        },
        mounted: function(){
            Vue.axios.get(this.url).then((response) =>{
                this.items=response.data;
            })
        },
        computed: {
            filteredItems: function() {
                console.log(this);
                if (!this.search) {
                    return this.items;
                }
                return this.items.filter(element => {
                    return element.item.toUpperCase().includes(this.search.toUpperCase());
                });
            },
        },
        methods: {
            addToCart(item){
                this.$store.commit('addProduct', item);
                alert(`${item.item} successfully added to cart`);
            }
        }
    }
</script>
